Q1

A database is a structured collection of data that is organized and stored in a way that allows for efficient data retrieval, manipulation, and management.

 SQL databases are relational databases, which means they use structured tables to store data. Data is organized into rows and columns, and the relationships between different tables are defined.
 
NoSQL databases use a variety of data models, including document-based, key-value, column-family, and graph-based. These models can store structured, semi-structured, or unstructured data.

Q2

DDL stands for Data Definition Language.

CREATE :
The CREATE statement is used to create new database objects, such as tables, indexes, or views.

Example

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50)
);

DROP :

The DROP statement is used to delete existing database objects, such as tables, indexes, or views.

DROP TABLE Employees ;

Alter :

The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns from a table.

EXAMPLE :

ALTER TABLE Employees 
ADD Email VARCHAR(10);


TRUNCATE :

The TRUNCATE statement is used to remove all data from a table while keeping the table structure intact. It is faster and more efficient than a DELETE statement, as it doesn't generate individual row-level deletion logs.

EXAMPLE :

TRUNCATE TABLE Employees;

Q3


DML is stand for data manipulation language. 

INSERT :

INSERT is to add new values or objects in the exisiting table.

EXAMPLE :


INSERT INTO Employees (EmployeeID , First_NAME, Last_Name , Age )
VALUES ( 101 , 'John' , 'Singh', 18);


UPDATE :

UPDATE is used to modify the exisiting data in the table 

EXAMPLE :

UPDATE Employees
SET Department = 'Finance'
WHERE EmployeeID = 1;

DELETE :
The DELETE statement is used to remove records from a table.

DELETE FROM Employees
WHERE EmployeeID = 1;

Q4

DQL stands for Data Query Language. 

The SELECT statement is used to retrieve data from one or more tables in a database.
It allows you to specify the columns you want to retrieve, the tables you want to query, and conditions to filter the data.

EXAMPLE :

SELECT FirstName, LastName
FROM Students
WHERE GPA >= 3.5;

Q5

PRIMARY KEY 

A Primary Key is a column or set of columns in a database table that uniquely identifies each row or record in that table. It ensures that there are no duplicate rows in the table.

FOREIGN KEY :

 Foreign Key is a column or set of columns in a database table that establishes a link between data in two tables. It creates a relationship between the Foreign Key and the Primary Key of another table, enforcing referential integrity.

In [ ]:
Q6
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)

mycursor = mydb.cursor()
mycursor.excute("SHOW DATAbASES